* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: #FFF;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(45deg, #996DFF 0, #000000 15% 85%, #996DFF 100%) no-repeat center;
    backdrop-filter: blur(5rem);
}

header {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2em;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    text-decoration: underline;
}

.button button {
    padding: .75em 3em;
    border: 1px solid #8257E5;
    background: none;
    border-radius: 6px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

header .button button:hover {
    background: #8257E5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80%;
    width: 100%;
    background: url(./assets/rocket-coffee.png) no-repeat bottom;
    background-size: 35em;
}

.title {
    text-align: center;
    font-size: 1.75em;
}

.title div:last-child h1 {
    text-shadow: -1px -1px 0 #8257E5, 1px -1px 0 #8257E5, -1px 1px 0 #8257E5, 1px 1px 0 #8257E5;
    color: #000;
}

header div:first-child span {
    display: none;
}

.menu {
    display: none;
    margin-right: 0.75em;
    cursor: pointer;
    padding: 0.25em;
}

.menu img {
    height: 100%;
    width: 100%;
}

.text {
    display: none;
}

main .button {
    display: none;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.175em;
    }

    nav ul {
        gap: 1em;
    }

    .button button {
        padding: .5em 1.25em;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        height: 25%;
    }

    .button button {
        padding: .75em 3em;
    }

    main {
        height: 75%;
    }
}

@media (max-width: 480px) {
    body {
        background: linear-gradient(180deg, #000000 0 90%, #996DFF 90% 99%, #000000 99% 100%);
        backdrop-filter: blur(4rem);
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 15%;
    }

    header .button {
        display: none;
    }

    header div:first-child {
        display: flex;
        align-items: center;
        margin-left: 1em;
    }

    header div:first-child span {
        display: flex;
    }

    header nav {
        display: none;
    }
    
    .menu {
        display: flex;
    }

    main {
        height: 85%;
    }
    
    .text {
        display: flex;
    }
    
    main .button {
        display: flex;
    }
}